        #window {
            margin-top: 50px;
            background-color: #060381da;
            color: #e08104;
            padding: 15px;
            border-radius: 20px;
            box-shadow: 0 0 5px black;
            margin-right: auto;
            margin-left: auto;
            height: auto;
        }
        
        #h4 {
            color: #3dca11;
        }
        
        .swapbox_select {
            width: 100%;
            float: left;
        }
        
        .swapbox {
            overflow: auto;
            margin: 20px 0;
            padding: 20px;
            background-color: #e08104ea;
            border-radius: 20px;
            border: 1px solid #565656;
        }
        
        .token_select {
            padding: 5px 0;
            color: #000000;
            font-weight: bold;
        }
        
        .token_select:hover {
            background-color: #a406b963;
            cursor: pointer;
            border-radius: 20px;
        }
        
        .token_list_img,
        .token_image {
            width: 40px;
            padding-right: 10px;
        }
        
        .modal-content {
            background-color: #e7a005;
            height: 600px;
            overflow: auto;
            border-radius: 20px;
        }
        
        .token_row {
            padding: 5px 10px;
        }
        
        .token_row:hover {
            background-color: #05756163;
            cursor: pointer;
            border-radius: 20px;
        }
        
        .from_token_select {
            color: #42e004;
        }
        
        .container {
            padding-top: 35px;
        }
        
        .slip {
            color: #e08104;
            text-align: right;
            font-weight: bold;
        }
        /*Custom Scroll Bar/////////////////////////
/* width */
        
         ::-webkit-scrollbar {
            width: 10px;
        }
        /* Track */
        
         ::-webkit-scrollbar-track {
            background: #f1f1f1;
            border-radius: 20px;
        }
        /* Handle */
        
         ::-webkit-scrollbar-thumb {
            background: #888;
            border-radius: 20px;
        }
        /* Handle on hover */
        
         ::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
        
        .searchbar {
            margin: auto;
            width: 200%;
            padding: 10px;
            border-radius: 20px;
            font-weight: 600;
        }
        
        .searchbardiv {
            padding-bottom: 5px;
        }
        
        .center {
            margin: auto;
            width: 75%;
            border: 3px solid green;
            padding: 10px;
        }
        
        .satocoin {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 10%;
            height: 10%;
            padding-top: 80px;
            margin-bottom: -100px;
        }
        
        .satocointop {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 10%;
            height: 10%;
            padding-top: 10px;
            margin-bottom: -100px;
        }
        
        .satoshibamascot {
            position: relative;
            top: 0;
            left: 0;
        }
        
        .swapboxwindow {
            display: block;
            min-width: 500px;
        }
        
        .satoshibamoon {
            position: absolute;
            bottom: 250px;
            left: 80px;
        }
        
        .satobg {
            position: absolute;
            margin-left: 200px;
            left: 800px;
        }
        
        .modal {
            top: 100px;
        }
        
        .btn-outline-primary {
            color: #e7a005;
            border-color: #e7a005;
        }
        
        .btn-outline-primary:hover {
            color: #fff;
            background-color: #e7a005;
            border-color: #e7a005;
        }
        
        .searchbutton {
            border-radius: 10px;
        }
        
        .form-control {
            border-radius: 20px;
            font-weight: 600;
        }
        
        .btn-primary:disabled {
            color: rgb(0, 0, 0);
            background-color: #e7a005;
            border-color: #000000;
            border-radius: 10px;
        }
        
        .btn-primary {
            color: rgb(0, 0, 0);
            background-color: #e7a005;
            border-color: #000000;
            border-radius: 10px;
            font-weight: 700;
        }
        
        .btn-primary:hover {
            color: #000;
            background-color: #e7a005;
            border-color: #000000;
            font-weight: 700;
        }
        
        .slipinput {
            border-radius: 20px;
            padding-left: 10px;
        }
        
        .tmbg {
            background-position: top;
            background-size: cover;
        }
        
        .navbar-dark .navbar-nav .nav-link {
            color: #ffffff
        }